/* HEADER E FOOTER INIZIO */
.container-header{
    margin: 0%;
    padding: 1.4%;
    background: linear-gradient(60deg,rgba(179, 186, 121, 0.891), rgba(50, 167, 171, 0.868));
  }
  .container-footer{
    background: linear-gradient(60deg,rgba(179, 186, 121, 0.891), rgba(50, 167, 171, 0.868));
    padding: 20px;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .contatti-scritta {
    margin-right: 10px;
    color: #525252e4;
    font-family: 'Montserrat';
    font-size: 15px;
  }
  .footer-links {
    text-align: center;
    font-size: 18px;
  }
  .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffffa1;
    font-family: 'Montserrat' bold;
  }
  .footer-links a:hover {
    text-decoration: none;
    color: #419da2d3;
  }
  .footer-text {
    text-align: center;
    font-size: 14px;
    color: #777;
  }
  .social a:not(:last-child) {
    margin-right: 15px;
  }
  .contatti-scritta{
    padding: 0.2%;
  }
  @media (max-width: 790px){
    .fa-2x {
    font-size: 2.5em !important;
    }
    }
    @media (max-width: 790px){
    .container-footer, .social, .contatti-scritta, .footer-links, .footer-text{
    font-size: 10px;
    padding: 2%;
    }
    }
  /* HEADER E FOOTER FINE*/
      /* IMMAGINE BG */
    .banner {
    position: relative;
    width: 100%;
    /* ALTEZZA BACKGR */
    height: 190vh;
    /* ALTEZZA BACKGR */
    background-color: #2f4f4f;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    }
      /* IMMAGINE BG */
      /* LOGO E NAVBAR INIZIO */
      .navbar {
          width: 85%;
          margin: auto;
          padding: 35px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .logo {
          width: 140px;
          cursor: pointer;
          border-radius: 50%;
          margin: 1% -6%;
          opacity: 1.5;
        }
        .navbar ul li {
          list-style: none;
          display: inline-block;
          margin: 0 8px;
          position: relative;
        }
        .navbar ul li a {
          text-decoration: none;
          color:rgb(255, 255, 255);
          text-transform: uppercase;
          font-family: 'Montserrat';
          font-size: 25px;
        }
        .navbar ul li::after{
        content: "";
        height: 3px;
        width: 0;
        background: #3295c7;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
        }
        .navbar ul li:hover::after{
          width: 100%;
        }
        .contenuto {
          width: 100%;
          position: absolute;
          top: 50%;
          transform:translateY(-50%);
          text-align: center;
          color: white;
        }
        @media (max-width: 790px){
          .contenuto h1{
            font-size: 40px;
          }
          }
          @media (max-width: 790px){
            .contenuto p{
              font-size: 17px;
            }
            }
          @media (max-width: 790px){
          .navbar ul li a{
            font-size: 7px;
          }
          }
          @media (max-width: 790px){
            .logo{
          width: 45px;
            }
          }
      /* LOGO E NAVBAR FINE */
.container-fluid{
  background-color: #2f4f4f;
  position: absolute;
  top: 27%;
  text-align: center;
  color: #dddcd4;
  font-family: 'Montserrat';
  font-size: 18px;
}
h1{
  margin: 25px !important;
  color: rgb(202, 222, 247);
  text-decoration: underline 5px;
}