  /* HEADER E FOOTER INIZIO */
.container-header{
  margin: 0% ;
  padding: 1.4%;
  background: linear-gradient(60deg,rgba(179, 186, 121, 0.891), rgba(50, 167, 171, 0.868));
}
.container-footer {
  background: linear-gradient(60deg,rgba(179, 186, 121, 0.891), rgba(50, 167, 171, 0.868));
  padding: 20px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.contatti-scritta {
  margin-right: 10px;
  color: #525252e4;
  font-family: 'Montserrat';
  font-size: 15px;
}
.footer-links {
  text-align: center;
  font-size: 18px;
}
.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffffa1;
  font-family: 'Montserrat' bold;
}
.footer-links a:hover {
  text-decoration: none;
  color: #419da2d3;
}
.footer-text {
  text-align: center;
  font-size: 14px;
  color: #777;
}
.social a:not(:last-child) {
  margin-right: 15px;
}
.contatti-scritta{
  padding: 0.2%;
}
@media (max-width: 790px){
  .fa-2x {
  font-size: 2.5em !important;
  }
  }
  @media (max-width: 790px){
  .container-footer, .social, .contatti-scritta, .footer-links, .footer-text{
  font-size: 10px;
  padding: 2%;
  }
  }
/* HEADER E FOOTER FINE*/
    /* IMMAGINE BG */
  .banner {
    position: relative;
    width: 100%;
      /* ALTEZZA BACKGR */
    height: 335vh;
      /* ALTEZZA BACKGR */
    background-image: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.134)),url(imgbg/palo.jpg);
    opacity: 80%;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    /* AGGIUNTO PER IL VIDEO */
    z-index: 1;
    overflow: hidden;
    /* AGGIUNTO PER IL VIDEO */
  }
    /* IMMAGINE BG */
    /* LOGO E NAVBAR INIZIO */
    .navbar {
        width: 85%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .logo {
        width: 140px;
        cursor: pointer;
        border-radius: 50%;
        margin: 1% -6%;
        opacity: 1.5;
      }
      .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 8px;
        position: relative;
      }
      .navbar ul li a {
        text-decoration: none;
        color:rgb(255, 255, 255);
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-size: 25px;
      }
      .navbar ul li::after{
      content: "";
      height: 3px;
      width: 0;
      background: #3295c7;
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.5s;
      }
      .navbar ul li:hover::after{
        width: 100%;
      }
      .contenuto {
        width: 100%;
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        text-align: center;
        color: white;
      }
      @media (max-width: 790px){
        .contenuto h1{
          font-size: 40px;
        }
        }
        @media (max-width: 790px){
          .contenuto p{
            font-size: 17px;
          }
          }
        @media (max-width: 790px){
        .navbar ul li a{
          font-size: 7px;
        }
        }
        @media (max-width: 790px){
          .logo{
        width: 45px;
          }
        }
    /* LOGO E NAVBAR FINE */
 
    .banner video {
      position: absolute;
      top: 16%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 20%;
      object-fit: cover;
      opacity: 100%; 
      z-index: 1;
      border-radius: 2%;
      border-style: groove;
    }
    @media (max-width: 790px) {
      .video {
        width: 320px !important;
        max-height: 200px;
        top: 210px !important;
      }
    }
    .container-fluid-text{
      position:absolute;
      top: 105%;
      left: 6%;
      font-size: 19px;
      z-index: 2;
      color: rgb(255, 255, 255);
      font-family: 'Montserrat';
      background: linear-gradient(60deg,rgba(80, 170, 109, 0.832), rgba(120, 144, 218, 0.831));
      padding-right: 3%;
      padding-top: 1%;
      padding-left: 3%;
      padding-bottom: 1%;
      margin-right: 4%;
      border-radius: 2%;
      text-align:justify;
    }
    .container-fluid-text h1{
      font-weight: 600;
      font-size: 50px;
      color: #e3ad3a;
    }
    .container-fluid-text-2{
      position:absolute;
      top: 175%;
      left: 6%;
      font-size: 19px;
      z-index: 2;
      color: rgb(255, 255, 255);
      font-family: 'Montserrat';
      background: linear-gradient(60deg,rgba(120, 144, 218, 0.831), rgba(80, 170, 109, 0.832));
      padding-right: 3%;
      padding-top: 1%;
      padding-left: 3%;
      margin-right: 4%;
      border-radius: 2%;
      text-align:justify;
    }
    .container-fluid-text-2 h5{
      font-weight: 600;
      font-size: 40px;
      color: #e3ad3a;
      
    }
    .container-fluid-text-3{
      position:absolute;
      top: 215%;
      left: 6%;
      font-size: 19px;
      z-index: 2;
      color: rgb(255, 255, 255);
      font-family: 'Montserrat';
      background: linear-gradient(60deg,rgba(80, 170, 109, 0.832), rgba(120, 144, 218, 0.831));
      padding-right: 3%;
      padding-top: 1%;
      padding-left: 3%;
      margin-right: 4%;
      border-radius: 2%;
      text-align:justify;
    }
    .container-fluid-text-3 h5{
      font-weight: 600;
      font-size: 40px;
      color: #e3ad3a;
      
    }
    @media (max-width: 790px) {
      .section, .container-fluid-text{
      font-size: 12px; 
      top: 50%; 
      left: 10%; 
      width: 80%; 
      overflow: hidden; 
      }
    }
    @media (max-width: 790px) {
      .section, .container-fluid-text-2{
      font-size: 12px; 
      top: 145%; 
      left: 10%; 
      width: 80%; 
      overflow: hidden; 
      }
    }
    @media (max-width: 790px) {
      .container-fluid-text-2 h5, .container-fluid-text-3 h5{
      font-size: 20px;
      }
    }
    @media (max-width: 790px) {
      .section, .container-fluid-text-3{
      font-size: 12px; 
      top: 190%; 
      left: 10%; 
      width: 80%; 
      overflow: hidden; 
      }
    }
    .container-xxl > iframe {
    position: absolute;
    z-index: 3;
    top: 2220px;
    left: 55%;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 50%;
    transform: translate(-55%, -50%);
    border-radius: 2%;
    }
    @media (min-width: 1920px) {
      .container-xxl > iframe {
        top: 290%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 60%;
      }
    }
    @media (max-width: 790px) {
      .container-xxl > iframe {
        top: 1900px;
      }
    }
    @media (max-width: 790px){
      .banner{
      height: 315vh;
      }
      }
      @media (max-width: 1400px){
        .banner{
        width: 100%;
        }
        }
  