/* HEADER E FOOTER INIZIO */
.container-header{
  margin: 0% ;
  padding: 1.4%;
  background: linear-gradient(60deg,rgba(179, 186, 121, 0.737), rgba(50, 167, 171, 0.712));
}
.container-footer {
  background: linear-gradient(60deg,rgba(179, 186, 121, 0.891), rgba(50, 167, 171, 0.868));
  padding: 20px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.contatti-scritta {
  margin-right: 10px;
  color: #525252e4;
  font-family: 'Montserrat';
  font-size: 15px;
}
.footer-links {
  text-align: center;
  font-size: 18px;
}
.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffffa1;
  font-family: 'Montserrat' bold;
}
.footer-links a:hover {
  text-decoration: none;
  color: #419da2d3;
}
.footer-text {
  text-align: center;
  font-size: 14px;
  color: #777;
}
.social a:not(:last-child) {
  margin-right: 15px;
}
.contatti-scritta{
  padding: 0.2%;
}
@media (max-width: 790px){
  .fa-2x {
  font-size: 2.5em !important;
  }
  }
  @media (max-width: 790px){
  .container-footer, .social, .contatti-scritta, .footer-links, .footer-text{
  font-size: 10px;
  padding: 2%;
  }
  }
/* HEADER E FOOTER FINE*/
h3{
  font-family: 'Montserrat';
  font-size: 20px !important;
}
.banner {
  position: relative;
  width: 100%;
  height: 150vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.202), rgba(0, 0, 0, 0.322)),url(imgbg/backgr.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* AGGIUNTO PER IL VIDEO */
  z-index: 0;
  overflow: hidden;
  /* AGGIUNTO PER IL VIDEO */
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 140px;
  cursor: pointer;
  border-radius: 50%;
  margin: 1% -6%;
  opacity: 0.9;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 8px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color:rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 25px;
}
.navbar ul li::after{
content: "";
height: 3px;
width: 0;
background: #dda938;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.contenuto {
  width: 100%;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  text-align: center;
  color: white;
}
.contenuto h1{
font-size: 96px;
margin-top: 90px;
font-family: 'Montserrat';
}
.contenuto p{
  margin: 10px auto;
  font-size: 25px;
  font-weight: 100;
  line-height: 25px;
  font-family: 'montserrat';
}
.container-fluid{
  margin: auto;
}
button{
  font-family: 'Montserrat'!important;
  width: 270px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px !important;
  font-weight: bold;
  border: 2px solid #dda938;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #dda938;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover {
  border: none;
}
@media (max-width: 790px){
.contenuto h1{
  font-size: 40px;
  margin-top: 8px;
}
}
@media (max-width: 790px){
  .contenuto h3{
    font-size: 13px !important;
  }
  }
@media (max-width: 790px){
  .contenuto p{
    font-size: 14px;
  }
  }
@media (max-width: 790px){
.navbar ul li a{
  font-size: 7px;
}
}
@media (max-width: 790px){
  .logo{
width: 45px;
  }
}
.banner > iframe {
  position: absolute;
  top: 64%;
  left: 51%;
  transform: translate(-52%, -50%);
  width: 525px;
  height: 295px;
  z-index: 0;
  border-radius: 2%;
}
@media (max-width: 790px) {
  .banner > iframe {
    width: 320px !important;
    height: 180px;
    top: 590px !important;
  }
}